= semantic_form_for [:admin, @admin_user], :html => {:multipart => true} do |f|
  = f.inputs "Admin Details" do
    = f.input :displayname, :label => "Display Name"
    =  f.input :email, :hint => "required"
    =  f.input :password
    = image_tag(@admin_user.avatar.image.url) if @admin_user.avatar.image? 
    = f.input :is_admin
  = f.buttons :commit
